In [7]:
import pandas as pd

In [14]:
data = {'one':[1,1,1,1,1],
       'two':[2,2,2,2,2],
       'letter':['a','a','b','b','c']}
df = pd.DataFrame(data)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [16]:
one = df.groupby('letter')
one.sum()

        one  two
letter
a         2    4
b         2    4
c         1    2

In [20]:
tmp = df.groupby('letter').sum()
tmp

        one  two
letter
a         2    4
b         2    4
c         1    2

In [21]:
df.groupby('letter', as_index=False).sum()

  letter  one  two
0      a    2    4
1      b    2    4
2      c    1    2

In [22]:
tmp['a']

KeyError: 'a'